language: shell
branches:
  only:
    - master
env:
  global:
    - BOT_USER=Reddit-Enhancement-Suite-Bot
    # BOT_PASSWORD
    - secure: Fpk0Cl/ts6CVvTlRccjFviB8qNHbSRf8hg+XkZ2+3oaQy+Q5YjSs+8upIGXbSCuhRp3JiDnhetbiIPnzmyZ84bscPMycUvnIkW+21UjTSKCs0Bc4IBxkhHVZVTBEHBU8ylErIhiAqz6u7KdXqYvnuwpSEFkxa0d9eolJt/SOr4m6NZ6eq2bwkwN1KTLm5KP4tJdFTX09Yq/WHcJvpnPUHpzDGo0dEa25+Tteo91kiaBSUSLXHOSAn4OunJp0AIyXoo4dw4R35BBmWIIRYKRQXoMlMbT7D05SaFcJbPNKuuL3QcUElD8o+VazSQPlS4Sc0+jYLkDrd8+XG//CkqYw6vtX+/p6INQlgVQ5bAt7poB6o9qT6TK0u6uEc6ksaBD1CDrZzBOZK7i9MYoHXkPjleZ1+V/I8WzBRInJmFgRFDao55mWhMIM8S3uRReRhkJljoBkeV4Rm7UcVc/L067mssGILcDJS7kFwZz/kT3iSIxfhm13ck8SBp2q5NjrQ5MSogfDkzaGyAXoHFRwnmOTeI+Z/3C8RtKdfaAJUnxr47XdfCmow99+Kp3Hkoa9flvLjWlpXZOihDnaQpHgVYrrgcLJqTnBCSNmjLv/7zdP+o1CwaXGcmZZwRN5qaRg6757p5PUD9+U1BDVaQHr8P/Zn0HtOjlKOmQJfF0Mz529OIQ=
    # EDGE_TENANT_ID
    - secure: iQWs20AN6lOhtxExBvXktVnqkvicJUclcJwdbJUPNjY7YhNXQ/EyCxhjC4W2ZSPl4Xddd9hh16Zme/GI5OW9ijEUIDmMYTB5I1yIdAhBWswjFNpGp+QYdDL0/0Wmj9ry9xUv3aib+Y/ChxLAcrUVzyHqA0xgfnBy9BjGAMWVCttue0qrpZ6Vp1HCS8x94d2h3R5k4XczDgRXTzd1igpsqNDlveA5UDbpOry0DRcOx04AlU9N3YReux4wPL4AGgqmVjaB5//OZJTj7i/+hm2NHrOFREG1MVrIQeXkDF6Tk6O/6DnEjDZoo9Czb07+UrVPqgurPnLQnJEiQ8Dw1nswRhHkZyvd3ehfeZ8kPf1i+orYnwbO1b+UUFrUVgHhanG+8e3dm1OqcVaZCzR3IiBLNzGEENvVyXp9t+PX2MUplf0xtQn7LkptYZd43z+918hI2cZsFFFwdYLhhUK+cNQFdHX7a84VIQt20ZWdfBuA53+H0sUdWN1l4JaIDqLBKwgedHLPztAqUdR+WON4ysjJviD9WDfiHFcj1cvEdHiwNMmiNdtn2Lu9wt2NjVPyoJZghUbfSVdkagEwYYY5zz1drxBb1LRAQvK9i/bRMMHnGWfAkF7bJnLQ5pq7ZQm9vt/+5v7mu+f8bJ/GUqyliia1VYU5JLU8HfbTQsiMDmvjw0Y=
    # EDGE_CLIENT_ID
    - secure: s4J2ItTW42hPaVtDl2dgrVDU4DqIa6X0LaDAPa35AG7yk8GCp6A6d4EtvZN6J4ZqfRvy6BmnWWRjBBhlQcpk+X7IM6OxOdl/zcNjgZFLZVQgwYyM31xD4ohPqMEqBY4k0DyvXUeOdAwg9TJZapK+uWVNT7p/4TbqjVn95ZFF0kL8UN7N6oHcLS2tEULg9czLatUNQAkwuu5SP8xvjBtqwzCv6XpeqotzVxqMnPWUsjkhl9ttr/Sw9G9pNmesSiyLfweMvL2k0DUeVnulNwmDlXZaM/61kOrKHoGdiQbZuma+L/N1UfhVD/PKBQdzMmet+wMEC1kA6UT4vqNSiOqiXySpkSR70I94mCqe8jCoRY3krXGWdp3QfC1fEDu/XqKZHnB7m644ITeCY4OkCyM7UKSU5PcuAYmUZpaDeE3VC5Ho4dWCg/Pepk4MmlbnSo+epSLiBVPaTanlIsrJEcVIPJJP5HR/dZP06+tGN58eLJwf3iXoeaBQnuE3BW429YD37vELa2ekyxxdCh7OWVEW4D11OIat06eAvJqPpWnT6VFbLc1betiR6yDthDurSAUcB7ospKfvcnaUyFjtzNrY9SchHHrWG3mJjAa21zedg0V95z6v1YgCP1y7FHgz8iM0sCXxe6htFqtPHeMi0ty4owqP0Fp1ecFgW2VNPfk/Dsc=
    # EDGE_CLIENT_SECRET
    - secure: C/RbhXEdNMtT7EmrIKVsCHWLfDQZJ1IXOCEcyxKaTgF8uOJBuuWf8960HrUGfZum5u/Y3BWFbS/0HpfbBmmbu/3s+vyTuld4s1I2fh9SAH3UGbLtNnyA3S3xE1HL4b8AFb/EQ24LhREXUQggaNa4voU/PD1Ff20gFK/ye6Xhn7pxGQyveVLrH4bSA3ZgAx7zFXxonh1e3n0sYCTCaGyf4N0MC9PEga97zCnFXQccbJavF+wFWXK9whfSw7fb1vfnw+c2o9yEfQCv6y6JBuSzTjdWWiPNtLNyiaWQrZRuKYaen3eXTUWzW2h19nRKzR6QP5t0yfM4h+w8PBtNY+zL1gp0HWu+xiRllEeM26eWURetctzd/aTIPAOa8BjpRAyzYrcK1MeX/pHyf+1gQNRfH3ObCNa7ISbqipGvN9x/tNAUdiq9ai/rFk+LJX8TeRmK1DLLVJolyGYsOMI06hq7ahgJyGu7OvZBZ1SwVM05y1eSo17yS7qsVci89w3epbwz+V7wP5gXryyZd3G1rYHwyzHZfTKdBVhByoWu4AW2BTrVdGT+QO/jxqVeKy1Y64Usgx8r33RTerqsd7jTLLRe/48QyKPIpQ7dNKA0+Y5xLj3tc6oAf0OWW6R7/zkdR1aWJNr2Qa+h3wrPyiO0U41zzaDVUmcMykHUPoHWsG5YuUQ=
script:
  - |
      if [ "$TRAVIS_EVENT_TYPE" = "cron" ]; then
        nvm use 8
        node update.js
      fi
notifications:
  irc:
    channels:
      - "irc.snoonet.org#enhancement"
    on_success: change
    on_failure: always
    skip_join: true
