---
layout: page
title: Latest Release
---
<div id="fix-storage" style="display: none;">
   <h1>
      <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: orange; margin-right: 0.1em;"></i>
      Been here recently?
   </h1>
   <div class="panel panel-default">
      <div class="panel-body">
         <a href="https://en.reddit.com/r/Enhancement/wiki/faq/announcements_tab_opening" class="button" style="float: right">Fix RES now</a>
         <p>If this page pops up every time you visit Reddit, your RES storage is probably broken. You can fix it by resetting your storage, then restoring your settings.</p>
      </div>
   </div>
</div>
<h1 id="contribute">Contribute to RES</h1>
<div class="panel panel-default">
   <div class="panel-body">
      <a href="/contribute" class="button" style="float: right">Contribute now!</a>
      <p>RES is entirely free - as in beer, as in open source, as in everything. If you like our work, a contribution would be greatly appreciated.</p>
      <p>When you contribute, you make it possible for the team to cover hosting costs and other expenses so that we can focus on doing what we do best: making your Reddit experience even better.</p>
   </div>
</div>
<h1 id="releases">Latest Release</h1>
<div class="panel panel-default accordion-rows">
   <div class="panel-body">
      {% assign found_stable_release = false %}
      {% assign posts = site.posts | where post.tags contains "Release" %}
      {% for post in posts limit:1 %}
      <div class="row accordion-header"
         data-tags="{% for tag in post.tags %}{{ tag | slugify }} {% endfor %}">
         <div class="col-sm-5 col-md-5 col-lg-5">
            <h5>
               <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
            </h5>
         </div>
         <div class="col-sm-3 col-md-3 col-lg-3">
            {% for tag in post.tags %}
            <span class="label
            {% if tag == "Release" %}label-success{% endif %}
            {% if tag == "Pre-release" %}label-info{% endif %}
            {% if tag == "Known Issues" %}label-warning{% endif %}
            ">{{ tag }}</span>
            {% endfor %}
         </div>
         <div class="col-sm-4 col-md-4 col-lg-4">
            <h5 style="text-align: right">
               {{ post.date | date: "%B %e, %Y" }}
            </h5>
         </div>
      </div>
      {% if found_stable_release == false %}
      <div class="row accordion-body">
         <div class="blogpost">
            {{ post.content }}
            <hr>
         </div>
      </div>
      {% endif %}
      {% for tag in post.tags %}
      {% if tag == "Release" %}
      {% assign found_stable_release = true %}
      {% endif %}
      {% endfor %}
      {% endfor %}
   </div>
</div>
<script type="text/javascript">
   function createCookie(name,value,days) {
       if (days) {
           var date = new Date();
           date.setTime(date.getTime()+(days*24*60*60*1000));
           var expires = "; expires="+date.toGMTString();
       }
       else var expires = "";
       document.cookie = name+"="+value+expires+"; path=/";
   }
   
   function readCookie(name) {
       var nameEQ = name + "=";
       var ca = document.cookie.split(';');
       for(var i=0;i < ca.length;i++) {
           var c = ca[i];
           while (c.charAt(0)==' ') c = c.substring(1,c.length);
           if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
       }
       return null;
   }
   
   function eraseCookie(name) {
       createCookie(name,"",-1);
   }
</script>
<script type="text/javascript">
   (function() {
   	var RECENT_COOKIE = 'recent_visitor';
   	var INFO_PANEL = '#fix-storage';
   	if (readCookie(RECENT_COOKIE)) {
   		document.querySelector(INFO_PANEL).style.display = 'block';
   	}
   	createCookie(RECENT_COOKIE, 1, 0.5);
   })();
</script>
