---
layout: page
title: Releases
---

<a href="#releases" style="float: right; margin: 2em 1em;">jump to content</a>

{% include contribute.html %}

<h1 id="releases">Releases</h1>
<div class="panel panel-default accordion-rows">
  <div class="panel-body">
	{% for post in site.posts %}
		<div class="row accordion-header"
			data-tags="{% for tag in post.tags %}{{ tag | slugify }} {% endfor %}">
			<div class="col-sm-5 col-md-5 col-lg-5">
				<h5>
					<strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
				</h5>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				{% for tag in post.tags %}
	 				<span class="label
	 					{% if tag == "Release" %}label-success{% endif %}
	 					{% if tag == "Pre-release" %}label-info{% endif %}
	 					{% if tag == "Known Issues" %}label-warning{% endif %}
	 					">{{ tag }}</span>
				{% endfor %}
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<h5 style="text-align: right">
					{{ post.date | date: "%B %e, %Y" }}
				</h5>
			</div>
		</div>
		<div class="row accordion-body">
				<div class="blogpost">
				  {{ post.content }}
				   <hr>
				</div>
		</div>
	  {% endfor %}
  </div>
</div>

<style type="text/css">
.accordion-rows .accordion-body {
	height: 0;
	overflow: hidden;
}

.accordion-rows .accordion-header[data-tags~="release"] ~ .accordion-body {
	height: 0;
}
.accordion-rows .accordion-header[data-tags~="release"]:first-of-type + .accordion-body,
.accordion-rows .accordion-header[data-tags~="pre-release"] + .accordion-body {
	height: auto;
}

.accordion-rows .accordion-header {
	cursor: pointer;
}
</style>

