<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/wiki">Wiki</a></li>
        <li><a href="/releases">Releases and Known Issues</a></li>
        <li><a href="https://github.com/honestbleeps/Reddit-Enhancement-Suite">GitHub</a></li>
        <li><a href="/contribute">Contribute</a></li>
      </ul>
    </div>
  </div>
</nav>
