<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/features.html">Features</a></li>
        <li><a href="/fans.html">RES Fans</a></li>
        <li><a href="/wiki.html">Wiki</a></li>
        <li><a href="/releases.html">Releases</a></li>
        <li><a href="https://github.com/honestbleeps/Reddit-Enhancement-Suite">GitHub</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contribute.html">Contribute</a></li>
      </ul>
    </div>
  </div>
</nav>
