<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      {% unless page.path == 'index.html' %}
        <a class="navbar-brand" href="/"><img src="/static/img/res-home.png"/></a>
      {% endunless %}
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/releases/">Releases</a></li>
        <li><a href="/knownissues/">Known Issues</a></li>
        <li><a href="https://www.reddit.com/r/Enhancement/wiki" target="_blank">Wiki</a></li>
        <li><a href="https://github.com/honestbleeps/Reddit-Enhancement-Suite" target="_blank">GitHub</a></li>
        <li><a href="/contribute/">Contribute</a></li>
      </ul>
    </div>
  </div>
</nav>
